---
title: Roster
---

{% assign tanks = site.players | where: "role", "Tank" %}
{% assign healers = site.players | where: "role", "Healer" %}
{% assign dps = site.players | where: "role", "DPS" %}

<h1>{{ page.title }}</h1>

<section class="players">
  <div class="container">
    <h2>Tanks</h2>
    <ul class="col col-3">
      {% for player in tanks %}
        <li class="{{ player.class | slugify: "latin" }}">
          <picture class="{{ player.class | slugify: "latin" }}">
            <source type="image/webp">
            <img>
          </picture>
          <strong>{{ player.name }}</strong>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="container">
    <h2>Healers</h2>
    <ul class="col col-3">
      {% for player in healers %}
        <li class="{{ player.class | slugify: "latin" }}">
          <picture class="{{ player.class | slugify: "latin" }}">
            <source type="image/webp">
            <img>
          </picture>
          <strong>{{ player.name }}</strong>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="container">
    <h2>Damage Dealers</h2>
    <ul class="col col-3">
      {% for player in site.players %}
        {% if player.role == 'DPS' %}
          <li class="{{ player.class | slugify: "latin" }}">
            <picture class="{{ player.class | slugify: "latin" }}">
              <source type="image/webp">
              <img>
            </picture>
            <strong>{{ player.name }}</strong>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
