// Core Colours
$color-white: #fff;
$color-black: #000;
$color-error: #ff0;
$color-text-screen: #21759b;
$color-background-screen: #f1f1f1;

//Theme Palette
$color-grey-900: #151616;
$color-grey-800: #181919;
$color-grey-700: #171919;
$color-grey-600: #5b7787;
$color-grey-500: #616e7c;
$color-grey-400: #7b8794;
$color-grey-300: #9aa5b1;
$color-grey-200: #cbd2d9;
$color-grey-100: #e4e7eb;
$color-grey-50: #f5f7fa;

$color-blue: #76e5e5;

$color-druid: #ff7d0a;
$color-shaman: #0070de;
$color-priest: #ddd;
$color-monk: #00ff96;
$color-death-knight: #c41f3b;
$color-warrior: #c79c6e;
$color-paladin: #f58cba;
$color-mage: #40c7eb;
$color-warlock: #8787ed;
$color-hunter: #abd473;
$color-demon-hunter: #a330c9;
$color-rogue: #fff569;
