$bp-xxs: 21.25em; //340px - iPhone SE-
$bp-vsmall: 25.875em; // 414px - iPhone 6/7/8+
$bp-small:  32.5em;   // 520px
$bp-medium: 48em;     // 768px
$bp-large:  60em;     // 960px
$bp-xl:     80em;     // 1280px
$bp-xxl:   100em;     // 1600px

$bp-medium-max: max-width 47.9375em;  //768px
$nav-mob: max-width 1023px;
$nav-tablet: 1367px;
