header {
  position: fixed;
  width: 280px;
  background: $color-black;
  padding: 0 20px;
  height: 100vh;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    content: '';
    display: block;
    background: $color-black;
    z-index: -1;
  }

  .site-branding {
    img {
      width: 80px;
    }
  }
}
