#page {
  position: relative;
  grid-template-columns: 1fr 280px minmax(auto, calc(82em - 280px)) 1fr;
  display: grid;

  main {
    padding-left: 60px;
    grid-column: 3;

    .home & {
      padding-left: 0;
      grid-column: 3 / 5;
    }

    .magnitude-logo {
      width: 250px;
    }
  }
}
