#page {
  position: relative;
  overflow: hidden;

  .ie & {
    float: left;
    width: 100%
  }
}

.ie {
  #primary {
    width: 100%;
    float: left
  }
}

section, .section {
  .ie & {
    width: 100%;
    float: left;
    @include clearfix
  }

  @supports (display:grid) {
    @include container-columns;
    display: grid
  }
}

span {
  display: inline-block
}

.container {
  .ie & {
    max-width: 82em;
    margin: 0 auto;
    display: block;
    @include clearfix
  }

  @supports (display:grid) {
    grid-column: 2 / 3;
    grid-auto-flow: row;
  }
}

.col {
  @supports (display:grid) {
    display: grid
  }
}

.col-2 {
  .ie & > * {
    width: 100%;
    float: left
  }

  @supports (display:grid) {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

@media (min-width: $bp-medium) {
  .col-2 {
    .ie & > * {
      width: 50%
    }

    @supports (display:grid) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.col-3 {
  .ie & > * {
    width: 100%;
    float: left;
    margin-bottom: 20px;

    &:nth-last-child(1) {
      margin-bottom: 0
    }
  }

  @supports (display:grid) {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

@media (min-width: $bp-medium) {
  .col-3 {
    .ie & {
      &.hp {
        padding-left: 10px;
        padding-right: 10px;
      }

      & > * {
        width: calc(50% - 40px);
        margin-right: 10px;
        margin-left: 10px;
      }
    }

    @supports (display:grid) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: $bp-large) {
  .col-3 {
    .ie & > * {
      width: calc(33.33% - 20px);
    }

    @supports (display:grid) {
      grid-template-columns: 1fr 1fr 1fr
    }
  }
}

.col-4 {
  .ie & > * {
    width: 100%;
    float: left;
    margin-bottom: 20px;

    &:nth-last-child(1) {
      margin-bottom: 0
    }
  }

  @supports (display:grid) {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

@media (min-width: $bp-small) {
  .col-4 {
    .ie & {
      &.hp {
        padding-left: 10px;
        padding-right: 10px;
      }

      & > * {
        width: calc(50% - 20px);
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    @supports (display:grid) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px
    }
  }
}



@media (min-width: $bp-medium ) {
  .col-4 {
    .ie & > * {
      width: calc(33.33% - 20px);
    }

    @supports (display:grid) {
      grid-template-columns: 1fr 1fr 1fr
    }
  }
}

@media (min-width: $bp-large ) {
  .col-4 {
    .ie & > * {
      width: calc(25% - 20px)
    }

    grid-template-columns: 1fr 1fr 1fr 1fr
  }
}

.ph {
  padding-left: 20px;
  padding-right: 20px;
}

.pv {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pt {
  padding-top: 20px;
}

.pb {
  padding-bottom: 20px;
}

.pr {
  padding-right: 20px;
}

.pl {
  padding-left: 20px;
}

.mt {
  margin-top: 20px;
}

.mv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mb {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px
}

.section-pt {
  padding-top: 25px;
}

@media (min-width: $bp-medium ) {
  .section-pt {
    padding-top: 50px
  }
}

.section-pb {
  padding-bottom: 25px;
}

@media (min-width: $bp-medium ) {
  .section-pb {
    padding-bottom: 50px
  }
}

.np {
  padding-top: 0;
  padding-bottom: 0
}

.section-pv {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: $bp-medium ) {
  .section-pv {
    padding-top: 50px;
    padding-bottom: 50px
  }
}

.cover {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: cover;
  background-size: cover!important
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textcenter {
  text-align: center
}

.druid {
  color: $color-druid;
}

.shaman {
  color: $color-shaman;
}

.priest {
  color: $color-priest;
}

.monk {
  color: $color-monk;
}

.death-knight {
  color: $color-death-knight;
}

.warrior {
  color: $color-warrior;
}

.paladin {
  color: $color-paladin;
}

.mage {
  color: $color-mage;
}

.warlock {
  color: $color-warlock;
}

.hunter {
  color: $color-hunter;
}

.demon-hunter {
  color: $color-demon-hunter;
}

.rogue {
  color: $color-rogue;
}
